/**
 * Place your custom styles here.
 */
body {
  margin: 0;
}
.goodtimes-header {
  height: 465px;
  background: url('/drupal/themes/goodtimes/images/slides-new/three.jpg');
  background-size: cover;
}
.navbar-override {
  margin-bottom: 0;
  background: rgba(91, 217, 209, 0.5);
  /* for latest browsers */
  border: none;
}
.nav-button-override {
  margin: 10px 5px;
  font-size: 1.5em;
  width: 100px;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-logo-override {
  margin-top: 25px;
}
.article-preview {
  margin: 20px 40px;
  display: inline-block;
  text-align: left;
  width: 300px;
}
.article-preview h2 {
  text-align: center;
  height: 70px;
  overflow: hidden;
}
.article-preview .article-preview-body {
  overflow: hidden;
  height: 175px;
  position: relative;
}
.article-preview .article-preview-body .fadeout {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 8em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.article-preview .link-button-container {
  height: 50px;
  padding-top: 10px;
  text-align: center;
}
.article-preview-row {
  text-align: center;
}
.staff-grid .staff-section {
  margin: auto;
  text-align: center;
}
.staff-grid .staff-section h2 {
  text-align: left;
}
@media (max-width: 768px) {
  .staff-grid .staff-section {
    width: 360px;
  }
}
@media (min-width: 768px) {
  .staff-grid .staff-section {
    width: 1110px;
  }
}
.staff-grid .staff-section .staff-element {
  overflow: hidden;
  width: 350px;
  display: inline-block;
  margin: 5px 5px;
  position: relative;
}
.staff-grid .staff-section .staff-element img {
  max-width: 350px;
}
.staff-grid .staff-section .staff-element .caption-block {
  background-color: rgba(177, 184, 186, 0.5);
  position: absolute;
  width: 350px;
  top: 325px;
  left: 0px;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.staff-grid .staff-section .staff-element .caption-block .name {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18pt;
  font-weight: normal;
  overflow: hidden;
}
.staff-grid .staff-section .staff-element .caption-block .name-link {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18pt;
  font-weight: normal;
  color: white;
  overflow: hidden;
  text-decoration: none;
}
.staff-grid .staff-section .staff-element .caption-block .name-link:hover {
  text-decoration: underline;
}
.staff-grid .staff-section .staff-element .caption-block .title {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14pt;
  font-weight: normal;
  overflow: hidden;
}
.highlighted {
  text-align: center;
}
.highlighted .field--name-body {
  text-align: center;
  font-size: 18pt;
  color: purple;
}
