<div class='article-preview'>
    
    {{fields.field_thumbnail.content}}
    <h2>
      {{ fields.title.content }}
    </h2>
    <div class='article-preview-body'>
        {{ fields.body.content }}
        <div class="fadeout"></div>
    </div>
    <div class='link-button-container'>
    {{fields.view_node.content}}
    </div>
</div>
