<div class='staff-element'>
    {{fields.field_picture.content}}
    <div class='caption-block'>
        {{fields.view_node.content}}
    {#    <p class='name'>{{ fields.field_name.content }}</p> #}
        <p class='title'>{{ fields.field_jobtitle.content }}</p>
    </div>
</div>
